<h1>~ Details of the <%= @cocktail.name %> cocktail ~</h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li>
    Ingredient: <%= dose.ingredient.name %> - Dose:  <%= dose.description %>
      <%= link_to "[Delete dose]", dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>
<%= link_to "[Add a dose]", new_cocktail_dose_path(@cocktail) %>
<br>
<br>
<%= link_to "[<= Back to all cocktails]", cocktails_path %>
